body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 70px;
    background-color: #333;
    margin-bottom: 15px;
}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
}

nav a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family:'open Sans', sans-serif;
    padding: 15px 16px;
    float: right;
}

nav a:hover{
    color: #ddd;
    transition: 0.5s;
}
#navigation-bar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
}


/*Login button*/
.navBar button {
    width: auto;
    float: right;
    margin: 0px 8px;
    color: #fff;
    background-color: #04AA6D;
}

/*TOGGLE BUTTON*/
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links a{
        width: 100%;
        flex-direction: column;
        text-align: center;    
    }
    .navbar-links.active {
        display: flex;
    }
}



/*image slider*/

* {
    box-sizing: border-box
}/* the asterisk is used to set all elements to 0 margins in all browsers*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
#image{
    height: 400px;
}
.SlideImage1 {
    width:100%;
    height: 500px;
}
.SlideImage2{
    width: 100%;
}
.SlideImage3{
    width: 100%;
}


    
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    font-family: arial;
    color: rgb(161, 88, 172);
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/*Event section*/
.company-content {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.row {
    display: flex;
    text-align: center;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.events .row {
    margin: 10px 100px 10px;
}
#contImage{
    height: 150px;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    padding: 0px 50px;
    color: #7c7c7c;
}

.events .ctn {
    margin-top: 30px;
}
.events .ctn:hover{
    color: mediumpurple;
}
@media screen and (min-width:992px){
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
}

@media screen and (min-width: 600px){
    .row {
        flex-direction: row;
    }

    .row .col {
        margin: 50px auto;
    }

    .col img {
        max-width: 60%;
    }
}

/*Footer section*/
.footer {
    width: 100%;
    min-height: 100px;
    margin: 0;
    background: #484872;
    text-align: center;
    padding: 30px;
}
.footer p{
    color: #fff;
    margin: 20px auto;
}



















